# Data Transformation with Pandas

- **Data transformation** refers to the process of converting and altering data from one format, structure, or representation to another. It involves various operations that can be applied to raw or source data to prepare it for analysis, modeling, or visualization. 

- Data transformation is a crucial step in the data preprocessing pipeline, and it is used for several purposes, including:
    - **Data Integration:** combining data from multiple sources or systems, such as aligning data types, units of measurement, or date formats.
    - **Feature Engineering:** create new features or variables from existing data, suh as mathematical transformations, aggregations, or creating categorical variables.
    - **Data Aggregation:** aggregate data at different levels, such as summing, averaging, or counting values within specified groups.
    - **Normalization and Scaling:** bring data of different scales into a common range, making it suitable for algorithms sensitive to the scale of variables, such as many machine learning models.
    - **Encoding Categorical Data:** transform textual or labeled data into numerical values, such as one-hot encoding, label encoding, or ordinal encoding.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/billionairs.csv")
df.shape

(2640, 35)

## 1. Dropping and renaming

### 1.1. Drop

Drop entire column: Remove rows or columns by specifying label names and corresponding axis.

In [3]:
# Add an extra column
df["extra"] = np.nan
"extra" in df.columns

True

In [4]:
# Drop column "extra"
df.drop(columns="extra", inplace=True) # KeyError raised if there is no column "extra"
"extra" in df.columns

False

Drop multiple columns

In [5]:
df["extra1"] = np.nan
df["extra2"] = np.nan
print("Before:", "extra1" in df.columns, "extra2" in df.columns)

df.drop(columns=["extra1", "extra2"], inplace=True)
print("After:", "extra1" in df.columns, "extra2" in df.columns)

Before: True True
After: False False

Drop rows by index

In [6]:
df.tail(3)

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
2637,2540,1000,Manufacturing,Zhang Gongyun,60.0,China,Gaomi,Tyre manufacturing machinery,Manufacturing,China,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2638,2540,1000,Real Estate,Zhang Guiping & family,71.0,China,Nanjing,Real estate,Real Estate,China,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2639,2540,1000,Diversified,Inigo Zobel,66.0,Philippines,Makati,Diversified,Diversified,Philippines,...,2.5,"$376,795,508,680",35.5,107.5,71.1,14.0,43.1,1.081166e+08,12.879721,121.774017

In [7]:
# Add new row
last_index = df.index[-1]
df.loc[last_index + 1] = df.iloc[last_index]
df.tail(3)

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
2638,2540,1000,Real Estate,Zhang Guiping & family,71.0,China,Nanjing,Real estate,Real Estate,China,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2639,2540,1000,Diversified,Inigo Zobel,66.0,Philippines,Makati,Diversified,Diversified,Philippines,...,2.5,"$376,795,508,680",35.5,107.5,71.1,14.0,43.1,1.081166e+08,12.879721,121.774017
2640,2540,1000,Diversified,Inigo Zobel,66.0,Philippines,Makati,Diversified,Diversified,Philippines,...,2.5,"$376,795,508,680",35.5,107.5,71.1,14.0,43.1,1.081166e+08,12.879721,121.774017

In [8]:
# Drop last row
df.drop(index=last_index+1, inplace=True)
df.tail(3)

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
2637,2540,1000,Manufacturing,Zhang Gongyun,60.0,China,Gaomi,Tyre manufacturing machinery,Manufacturing,China,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2638,2540,1000,Real Estate,Zhang Guiping & family,71.0,China,Nanjing,Real estate,Real Estate,China,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2639,2540,1000,Diversified,Inigo Zobel,66.0,Philippines,Makati,Diversified,Diversified,Philippines,...,2.5,"$376,795,508,680",35.5,107.5,71.1,14.0,43.1,1.081166e+08,12.879721,121.774017

### 1.2. Rename

Rename 1 column

In [9]:
# add new column
df["old_col"] = np.nan
df.columns

Index(['rank', 'finalWorth', 'category', 'personName', 'age', 'country',
       'city', 'source', 'industries', 'countryOfCitizenship', 'organization',
       'selfMade', 'status', 'gender', 'birthDate', 'lastName', 'firstName',
       'title', 'date', 'state', 'residenceStateRegion', 'birthYear',
       'birthMonth', 'birthDay', 'cpi_country', 'cpi_change_country',
       'gdp_country', 'gross_tertiary_education_enrollment',
       'gross_primary_education_enrollment_country', 'life_expectancy_country',
       'tax_revenue_country_country', 'total_tax_rate_country',
       'population_country', 'latitude_country', 'longitude_country',
       'old_col'],
      dtype='object')

In [11]:
df.rename(columns={"old_col": "new_col"}, inplace=True)
df.columns

Index(['rank', 'finalWorth', 'category', 'personName', 'age', 'country',
       'city', 'source', 'industries', 'countryOfCitizenship', 'organization',
       'selfMade', 'status', 'gender', 'birthDate', 'lastName', 'firstName',
       'title', 'date', 'state', 'residenceStateRegion', 'birthYear',
       'birthMonth', 'birthDay', 'cpi_country', 'cpi_change_country',
       'gdp_country', 'gross_tertiary_education_enrollment',
       'gross_primary_education_enrollment_country', 'life_expectancy_country',
       'tax_revenue_country_country', 'total_tax_rate_country',
       'population_country', 'latitude_country', 'longitude_country',
       'new_col'],
      dtype='object')

Rename multiple columns

In [14]:
df["new_col_2"] = np.nan
df.rename(columns={
    "new_col": "newCol",
    "new_col_2": "newCol2"
}, inplace=True)
df.columns

Index(['rank', 'finalWorth', 'category', 'personName', 'age', 'country',
       'city', 'source', 'industries', 'countryOfCitizenship', 'organization',
       'selfMade', 'status', 'gender', 'birthDate', 'lastName', 'firstName',
       'title', 'date', 'state', 'residenceStateRegion', 'birthYear',
       'birthMonth', 'birthDay', 'cpi_country', 'cpi_change_country',
       'gdp_country', 'gross_tertiary_education_enrollment',
       'gross_primary_education_enrollment_country', 'life_expectancy_country',
       'tax_revenue_country_country', 'total_tax_rate_country',
       'population_country', 'latitude_country', 'longitude_country', 'newCol',
       'newCol2'],
      dtype='object')

In [16]:
df.drop(columns=["newCol", "newCol2"], inplace=True)
df.columns

Index(['rank', 'finalWorth', 'category', 'personName', 'age', 'country',
       'city', 'source', 'industries', 'countryOfCitizenship', 'organization',
       'selfMade', 'status', 'gender', 'birthDate', 'lastName', 'firstName',
       'title', 'date', 'state', 'residenceStateRegion', 'birthYear',
       'birthMonth', 'birthDay', 'cpi_country', 'cpi_change_country',
       'gdp_country', 'gross_tertiary_education_enrollment',
       'gross_primary_education_enrollment_country', 'life_expectancy_country',
       'tax_revenue_country_country', 'total_tax_rate_country',
       'population_country', 'latitude_country', 'longitude_country'],
      dtype='object')

Rename index and multiple indices

In [17]:
df.index[:5]

Index([0, 1, 2, 3, 4], dtype='int64')

In [19]:
renamed_index = df.rename(index={0: "zero", 1: "one"})
renamed_index.index[:5]

Index(['zero', 'one', 2, 3, 4], dtype='object')

In [20]:
renamed_index.head(3)

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
zero,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,67059887.0,46.227638,2.213749
one,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891

## 2. Grouping

- `groupby()`: Groups data based on one or more columns for aggregation.
- In Pandas, `groupby()` involve 3 steps:
    - **Splitting** the data into groups based on some criteria.
    - **Applying** a function to each group independently.
    - **Combining** the results into a data structure.
- Aggregation functions like `sum()`, `mean()`, `count()`, and custom aggregation using `agg()`.

In [32]:
df.groupby("country").sum()

,rank,finalWorth,category,personName,age,city,source,industries,countryOfCitizenship,organization,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
country,,,,,,,,,,,,,,,,,,,,,
Algeria,591,4600,Food & Beverage,Issad Rebrab & family,79.0,Algiers,Food,Food & Beverage,Algeria,0,...,2.0,"$169,988,236,398",51.4,109.9,76.7,37.2,66.1,4.305305e+07,28.033886,1.659626
Andorra,1905,1500,Manufacturing,Carmen Thyssen,79.0,0,"Investments, art",Manufacturing,Spain,0,...,0.0,"$3,154,057,987",0.0,106.4,0.0,0.0,0.0,7.714200e+04,42.506285,1.521801
Argentina,5287,11000,TechnologyEnergyDiversifiedReal Estate,Marcos GalperinGregorio Perez Companc & family...,253.0,Buenos AiresBuenos AiresBuenos AiresBuenos Aires,"E-commerceOil & gasAirports, investmentsReal e...",TechnologyEnergyDiversifiedReal Estate,ArgentinaArgentinaArgentinaArgentina,0,...,214.0,"$449,663,446,954 $449,663,446,954 $449,663,446...",360.0,438.8,306.0,40.4,425.2,1.797548e+08,-153.664388,-254.466688
Armenia,2259,1200,Finance & Investments,Ruben Vardanyan & family,54.0,Erevan,Investment banking,Finance & Investments,Armenia,0,...,1.4,"$13,672,802,158",54.6,92.7,74.9,20.9,22.6,2.957731e+06,40.069099,45.038189
Australia,59438,173500,Metals & MiningMetals & MiningReal EstateManuf...,Gina RinehartAndrew ForrestHarry TriguboffAnth...,2895.0,PerthPerthSydneyMelbourneSydneySydneyNew South...,MiningMiningReal estateManufacturingSoftwareSo...,Metals & MiningMetals & MiningReal EstateManuf...,AustraliaAustraliaAustraliaAustraliaAustraliaA...,Hancock ProspectingCanva,...,68.8,"$1,392,680,589,329 $1,392,680,589,329 $1,392,6...",4863.3,4312.9,3556.1,989.0,2038.2,1.107964e+09,-1086.799114,5752.330848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United Kingdom,100841,370700,DiversifiedManufacturingMetals & MiningFood & ...,Len BlavatnikJames RatcliffeLakshmi MittalChar...,5016.0,LondonLondonLondonLondonLondonLondonLondonGlou...,"Music, chemicalsChemicalsSteelHeinekenShipping...",DiversifiedManufacturingMetals & MiningFood & ...,United StatesUnited KingdomIndiaNetherlandsIsr...,ArcelorMittal (ADR)The Children's Investment F...,...,139.4,"$2,827,113,184,696 $2,827,113,184,696 $2,827,1...",4920.0,8298.4,6666.6,2091.0,2509.2,5.480421e+09,4541.000182,-281.749786
United States,830727,4575100,AutomotiveTechnologyTechnologyFinance & Invest...,Elon MuskJeff BezosLarry EllisonWarren Buffett...,50749.0,AustinMedinaLanaiOmahaMedinaNew YorkHunts Poin...,"Tesla, SpaceXAmazonOracleBerkshire HathawayMic...",AutomotiveTechnologyTechnologyFinance & Invest...,United StatesUnited StatesUnited StatesUnited ...,TeslaAmazonOracleBerkshire Hathaway Inc. (Cl A...,...,5655.0,"$21,427,700,000,000 $21,427,700,000,000 $21,42...",66502.8,76757.2,59189.0,7238.4,27596.4,2.474926e+11,27966.040960,-72167.519814
Uruguay,1647,1800,Energy,Alejandro Bulgheroni,78.0,Manantiales,Oil & gas,Energy,Argentina,0,...,7.9,"$56,045,912,952",63.1,108.5,77.8,20.1,41.8,3.461734e+06,-32.522779,-55.765835
Uzbekistan,122,14400,Metals & Mining,Alisher Usmanov,69.0,Tashkent,"Steel, telecom, investments",Metals & Mining,Russia,Metalloinvest,...,0.0,"$57,921,286,440",10.1,104.2,71.6,14.8,31.6,3.358065e+07,41.377491,64.585262
Vietnam,9594,12600,DiversifiedDiversifiedManufacturingFinance & I...,Pham Nhat VuongThi Phuong Thao NguyenTran Dinh...,342.0,HanoiHo Chi Minh CityHanoiHanoiHo Chi Minh Cit...,"DiversifiedAirlinesSteelConsumer products, ban...",DiversifiedDiversifiedManufacturingFinance & I...,VietnamVietnamVietnamVietnamVietnamVietnam,Sovico Holdings,...,16.8,"$261,921,244,843 $261,921,244,843 $261,921,244...",171.0,663.6,451.8,114.6,225.6,5.787726e+08,84.349944,649.663194

In [31]:
# Top 5 countries with highest sum of finalWorth
df.groupby("country").sum()["finalWorth"].sort_values(ascending=False)[:5]

country
United States    4575100
China            1772500
India             628700
France            499500
Germany           462100
Name: finalWorth, dtype: int64

In [43]:
df.columns

Index(['rank', 'finalWorth', 'category', 'personName', 'age', 'country',
       'city', 'source', 'industries', 'countryOfCitizenship', 'organization',
       'selfMade', 'status', 'gender', 'birthDate', 'lastName', 'firstName',
       'title', 'date', 'state', 'residenceStateRegion', 'birthYear',
       'birthMonth', 'birthDay', 'cpi_country', 'cpi_change_country',
       'gdp_country', 'gross_tertiary_education_enrollment',
       'gross_primary_education_enrollment_country', 'life_expectancy_country',
       'tax_revenue_country_country', 'total_tax_rate_country',
       'population_country', 'latitude_country', 'longitude_country'],
      dtype='object')

In [49]:
# Count billionaires by gender for every category
df.groupby(["category", "gender"]).count()[:5]

                                   rank  finalWorth  personName  age  country  \
category                   gender
Automotive                 F          7           7           7    7        6
                           M         66          66          66   65       65
Construction & Engineering F          6           6           6    6        6
                           M         39          39          39   38       36
Diversified                F         29          29          29   27       29

                                   city  source  industries  \
category                   gender
Automotive                 F          6       7           7
                           M         65      66          66
Construction & Engineering F          6       6           6
                           M         36      39          39
Diversified                F         29      29          29

                                   countryOfCitizenship  organization  ...  \
category                   gender                                      ...
Automotive                 F                          7             0  ...
                           M                         66             3  ...
Construction & Engineering F                          6             1  ...
                           M                         39             3  ...
Diversified                F                         29             1  ...

                                   cpi_change_country  gdp_country  \
category                   gender
Automotive                 F                        6            6
                           M                       64           64
Construction & Engineering F                        6            6
                           M                       36           36
Diversified                F                       29           29

                                   gross_tertiary_education_enrollment  \
category                   gender
Automotive                 F                                         6
                           M                                        64
Construction & Engineering F                                         6
                           M                                        36
Diversified                F                                        29

                                   gross_primary_education_enrollment_country  \
category                   gender
Automotive                 F                                                6
                           M                                               64
Construction & Engineering F                                                6
                           M                                               36
Diversified                F                                               29

                                   life_expectancy_country  \
category                   gender
Automotive                 F                             6
                           M                            64
Construction & Engineering F                             6
                           M                            36
Diversified                F                            29

                                   tax_revenue_country_country  \
category                   gender
Automotive                 F                                 6
                           M                                64
Construction & Engineering F                                 6
                           M                                36
Diversified                F                                29

                                   total_tax_rate_country  population_country  \
category                   gender
Automotive                 F                            6                   6
                           M                           64                  64
Construction & Engineering F                            6                   6
                           M                           36                  36
Diversified                F                           29                  29

                                   latitude_country  longitude_country
category                   gender
Automotive                 F                      6                  6
                           M                     64                 64
Construction & Engineering F                      6                  6
                           M                     36                 36
Diversified                F                     29                 29

[5 rows x 33 columns]

In [50]:
df.columns

Index(['rank', 'finalWorth', 'category', 'personName', 'age', 'country',
       'city', 'source', 'industries', 'countryOfCitizenship', 'organization',
       'selfMade', 'status', 'gender', 'birthDate', 'lastName', 'firstName',
       'title', 'date', 'state', 'residenceStateRegion', 'birthYear',
       'birthMonth', 'birthDay', 'cpi_country', 'cpi_change_country',
       'gdp_country', 'gross_tertiary_education_enrollment',
       'gross_primary_education_enrollment_country', 'life_expectancy_country',
       'tax_revenue_country_country', 'total_tax_rate_country',
       'population_country', 'latitude_country', 'longitude_country'],
      dtype='object')

In [53]:
# To get mean aggregation, extract columns with numeric data only
# Average finalWorth of billionaires by gender and whether they are selfMade or not
df[["selfMade", "gender", "finalWorth"]].groupby(["gender", "selfMade"]).mean()

                  finalWorth
gender selfMade
F      False     5154.356846
       True      3104.166667
M      False     4894.889267
       True      4541.550117

## 3. Merging data from different tables

- `concat()`: Concatenates DataFrames vertically or horizontally.
- `merge()`: Performs SQL-style joins based on specified columns.
- `join()`: Joins DataFrames using their index or a specified column.

## 4. Scaling and normalization

## 5. One hot encoding

**EXERCISE**