# Assignment 04

Date: 19.10.2023

Read the requirements carefully and do the following tasks.

REQUIREMENTS:
- The purpose of this exercise is to review the knowlegde and to test you understanding of Pandas, so it's is **required to use Pandas and/or Numpy** to solve all tasks, without importing a third-party libraries.
- Only use `for` loop when the question indicate you can use it.
- The submission must be a notebook with a name follows this format `Assigment04_[your_name].ipynb`, for example, `Assignment04_Khue.ipynb`, a screenshot is not accepted.
- You can use this notebook to submit or create a new one.

1. Load data from a CSV file `../data/billionnairs.csv`

2. Print how many rows, how many columns in the data

(2640, 35)

3. Print infomation of data using `.info()`

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 35 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   rank                                        2640 non-null   int64
 1   finalWorth                                  2640 non-null   int64
 2   category                                    2640 non-null   object
 3   personName                                  2640 non-null   object
 4   age                                         2575 non-null   float64
 5   country                                     2602 non-null   object
 6   city                                        2568 non-null   object
 7   source                                      2640 non-null   object
 8   industries                                  2640 non-null   object
 9   countryOfCitizenship                        2640 non-null   object
 10  organization                                325 non-null    object
 11  selfMade                                    2640 non-null   bool
 12  status                                      2640 non-null   object
 13  gender                                      2640 non-null   object
 14  birthDate                                   2564 non-null   object
 15  lastName                                    2640 non-null   object
 16  firstName                                   2637 non-null   object
 17  title                                       339 non-null    object
 18  date                                        2640 non-null   object
 19  state                                       753 non-null    object
 20  residenceStateRegion                        747 non-null    object
 21  birthYear                                   2563 non-null   float64
 22  birthMonth                                  2564 non-null   float64
 23  birthDay                                    2564 non-null   float64
 24  cpi_country                                 2456 non-null   float64
 25  cpi_change_country                          2456 non-null   float64
 26  gdp_country                                 2476 non-null   object
 27  gross_tertiary_education_enrollment         2458 non-null   float64
 28  gross_primary_education_enrollment_country  2459 non-null   float64
 29  life_expectancy_country                     2458 non-null   float64
 30  tax_revenue_country_country                 2457 non-null   float64
 31  total_tax_rate_country                      2458 non-null   float64
 32  population_country                          2476 non-null   float64
 33  latitude_country                            2476 non-null   float64
 34  longitude_country                           2476 non-null   float64
dtypes: bool(1), float64(14), int64(2), object(18)
memory usage: 704.0+ KB

4. How many missing values (in each column and in total)?

<bound method DataFrame.sum of        rank  finalWorth  category  personName    age  country   city  source  \
0     False       False     False       False  False    False  False   False
1     False       False     False       False  False    False  False   False
2     False       False     False       False  False    False  False   False
3     False       False     False       False  False    False  False   False
4     False       False     False       False  False    False  False   False
...     ...         ...       ...         ...    ...      ...    ...     ...
2635  False       False     False       False  False    False  False   False
2636  False       False     False       False  False    False  False   False
2637  False       False     False       False  False    False  False   False
2638  False       False     False       False  False    False  False   False
2639  False       False     False       False  False    False  False   False

      industries  countryOfCitizenship  ...  cpi_change_country  gdp_country  \
0          False                 False  ...               False        False
1          False                 False  ...               False        False
2          False                 False  ...               False        False
3          False                 False  ...               False        False
4          False                 False  ...               False        False
...          ...                   ...  ...                 ...          ...
2635       False                 False  ...               False        False
2636       False                 False  ...               False        False
2637       False                 False  ...               False        False
2638       False                 False  ...               False        False
2639       False                 False  ...               False        False

      gross_tertiary_education_enrollment  \
0                                   False
1                                   False
2                                   False
3                                   False
4                                   False
...                                   ...
2635                                False
2636                                False
2637                                False
2638                                False
2639                                False

      gross_primary_education_enrollment_country  life_expectancy_country  \
0                                          False                    False
1                                          False                    False
2                                          False                    False
3                                          False                    False
4                                          False                    False
...                                          ...                      ...
2635                                       False                    False
2636                                       False                    False
2637                                       False                    False
2638                                       False                    False
2639                                       False                    False

      tax_revenue_country_country  total_tax_rate_country  population_country  \
0                           False                   False               False
1                           False                   False               False
2                           False                   False               False
3                           False                   False               False
4                           False                   False               False
...                           ...                     ...                 ...
2635                        False                   False               False
2636                        False                   False               False
2637                        False                   False               False
2638                        False                   False               False
2639                        False                   False               False

      latitude_country  longitude_country
0                False              False
1                False              False
2                False              False
3                False              False
4                False              False
...                ...                ...
2635             False              False
2636             False              False
2637             False              False
2638             False              False
2639             False              False

[2640 rows x 35 columns]>

rank                                             0
finalWorth                                       0
category                                         0
personName                                       0
age                                             65
country                                         38
city                                            72
source                                           0
industries                                       0
countryOfCitizenship                             0
organization                                  2315
selfMade                                         0
status                                           0
gender                                           0
birthDate                                       76
lastName                                         0
firstName                                        3
title                                         2301
date                                             0
state                                         1887
residenceStateRegion                          1893
birthYear                                       77
birthMonth                                      76
birthDay                                        76
cpi_country                                    184
cpi_change_country                             184
gdp_country                                    164
gross_tertiary_education_enrollment            182
gross_primary_education_enrollment_country     181
life_expectancy_country                        182
tax_revenue_country_country                    183
total_tax_rate_country                         182
population_country                             164
latitude_country                               164
longitude_country                              164
dtype: int64

5. Calculate the percentage of missing data? If there is no missing data, ignore this question.

rank                                          0.000000
finalWorth                                    0.000000
category                                      0.000000
personName                                    0.000000
age                                           0.070346
country                                       0.041126
city                                          0.077922
source                                        0.000000
industries                                    0.000000
countryOfCitizenship                          0.000000
organization                                  2.505411
selfMade                                      0.000000
status                                        0.000000
gender                                        0.000000
birthDate                                     0.082251
lastName                                      0.000000
firstName                                     0.003247
title                                         2.490260
date                                          0.000000
state                                         2.042208
residenceStateRegion                          2.048701
birthYear                                     0.083333
birthMonth                                    0.082251
birthDay                                      0.082251
cpi_country                                   0.199134
cpi_change_country                            0.199134
gdp_country                                   0.177489
gross_tertiary_education_enrollment           0.196970
gross_primary_education_enrollment_country    0.195887
life_expectancy_country                       0.196970
tax_revenue_country_country                   0.198052
total_tax_rate_country                        0.196970
population_country                            0.177489
latitude_country                              0.177489
longitude_country                             0.177489
dtype: float64

6. Fill missing data with the string "Unknown" for columns `organization` and `title`.

organization    2315
title           2301
dtype: int64

7. Replace all variants of China in the column `country` to become string `China` (`P.R.C` also means China)

8. How many billionaires resides in the country `China`? (read the data description to know which column stores this info)

9. How many billionaires have `China` citizenship? (read the data description to know which column stores this info)

491

10. What are the category of billionaires that have citizenship of `Australia` ?

array(['Metals & Mining', 'Real Estate', 'Manufacturing', 'Technology',
       'Finance & Investments', 'Diversified', 'Automotive', 'Logistics',
       'Food & Beverage', 'Fashion & Retail', 'Energy', 'Telecom'],
      dtype=object)

11. How many billionaires under 25 years old?

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
823,818,3500,Fashion & Retail,Clemente Del Vecchio,18.0,China,Milan,Eyeglases,Fashion & Retail,Italy,...,0.6,"$2,001,244,392,042",61.9,101.9,82.9,24.3,59.1,60297396.0,41.87194,12.56738
825,818,3500,Fashion & Retail,Luca Del Vecchio,21.0,China,Milan,Eyeglasses,Fashion & Retail,Italy,...,0.6,"$2,001,244,392,042",61.9,101.9,82.9,24.3,59.1,60297396.0,41.87194,12.56738
1334,1312,2300,Fashion & Retail,Kevin David Lehmann,20.0,China,NaN,Drugstores,Fashion & Retail,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1754,1725,1700,Media & Entertainment,Kim Jung-min,21.0,China,NaN,Online gaming,Media & Entertainment,South Korea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1755,1725,1700,Media & Entertainment,Kim Jung-youn,19.0,China,NaN,Online gaming,Media & Entertainment,South Korea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

12. Which country/countries that has billionaires over 100 years old?

array(['China'], dtype=object)

13. What is the mean final net worth of all female billionaires?

4570.326409495549

14. What is the mean final net worth of all male billionaires?

4631.61094224924

15. What is the average age of billionaires each industry? Round to 2 digit. (You can use `for` loop)

Fashion & Retail: 66.78 years old.
Automotive: 66.14 years old.
Technology: 57.32 years old.
Finance & Investments: 65.47 years old.
Media & Entertainment: 64.80 years old.
Telecom: 66.68 years old.
Diversified: 68.70 years old.
Food & Beverage: 66.64 years old.
Logistics: 68.18 years old.
Gambling & Casinos: 68.52 years old.
Manufacturing: 64.66 years old.
Real Estate: 68.12 years old.
Metals & Mining: 61.81 years old.
Energy: 67.82 years old.
Healthcare: 64.68 years old.
Service: 67.77 years old.
Construction & Engineering: 64.59 years old.
Sports: 69.03 years old.

16. Percentage of final net worth of billionaires reside in United States?

17. How many rows of data are collected on this month (October 2023)?