# Assignment 04

Date: 19.10.2023

Read the requirements carefully and do the following tasks.

REQUIREMENTS:
- The purpose of this exercise is to review the knowlegde and to test you understanding of Pandas, so it's is **required to use Pandas and/or Numpy** to solve all tasks, without importing a third-party libraries.
- Only use `for` loop when the question indicate you can use it.
- The submission must be a notebook with a name follows this format `Assigment04_[your_name].ipynb`, for example, `Assignment04_Khue.ipynb`, a screenshot is not accepted.
- You can use this notebook to submit or create a new one.

1. Load data from a CSV file `../data/billionnairs.csv`

In [1]:
import pandas as pd
df = pd.read_csv("/Users/khueluu/Desktop/NSU/Teaching/Python/NSU_Python/data/billionairs.csv")

2. Print how many rows, how many columns in the data

In [2]:
df.shape

(2640, 35)

3. Print infomation of data using `.info()`

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 35 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   rank                                        2640 non-null   int64
 1   finalWorth                                  2640 non-null   int64
 2   category                                    2640 non-null   object
 3   personName                                  2640 non-null   object
 4   age                                         2575 non-null   float64
 5   country                                     2602 non-null   object
 6   city                                        2568 non-null   object
 7   source                                      2640 non-null   object
 8   industries                                  2640 non-null   object
 9   countryOfCitizenship                        2640 non-null   object
 10  organization                                325 non-null    object
 11  selfMade                                    2640 non-null   bool
 12  status                                      2640 non-null   object
 13  gender                                      2640 non-null   object
 14  birthDate                                   2564 non-null   object
 15  lastName                                    2640 non-null   object
 16  firstName                                   2637 non-null   object
 17  title                                       339 non-null    object
 18  date                                        2640 non-null   object
 19  state                                       753 non-null    object
 20  residenceStateRegion                        747 non-null    object
 21  birthYear                                   2563 non-null   float64
 22  birthMonth                                  2564 non-null   float64
 23  birthDay                                    2564 non-null   float64
 24  cpi_country                                 2456 non-null   float64
 25  cpi_change_country                          2456 non-null   float64
 26  gdp_country                                 2476 non-null   object
 27  gross_tertiary_education_enrollment         2458 non-null   float64
 28  gross_primary_education_enrollment_country  2459 non-null   float64
 29  life_expectancy_country                     2458 non-null   float64
 30  tax_revenue_country_country                 2457 non-null   float64
 31  total_tax_rate_country                      2458 non-null   float64
 32  population_country                          2476 non-null   float64
 33  latitude_country                            2476 non-null   float64
 34  longitude_country                           2476 non-null   float64
dtypes: bool(1), float64(14), int64(2), object(18)
memory usage: 704.0+ KB

4. How many missing values (in each column and in total)?

In [4]:
df.isna().sum()

rank                                             0
finalWorth                                       0
category                                         0
personName                                       0
age                                             65
country                                         38
city                                            72
source                                           0
industries                                       0
countryOfCitizenship                             0
organization                                  2315
selfMade                                         0
status                                           0
gender                                           0
birthDate                                       76
lastName                                         0
firstName                                        3
title                                         2301
date                                             0
state                                         1887
residenceStateRegion                          1893
birthYear                                       77
birthMonth                                      76
birthDay                                        76
cpi_country                                    184
cpi_change_country                             184
gdp_country                                    164
gross_tertiary_education_enrollment            182
gross_primary_education_enrollment_country     181
life_expectancy_country                        182
tax_revenue_country_country                    183
total_tax_rate_country                         182
population_country                             164
latitude_country                               164
longitude_country                              164
dtype: int64

In [5]:
df.isna().sum().sum()

10813

5. Calculate the percentage of missing data? If there is no missing data, ignore this question.

In [6]:
(df.isna().sum() / df.shape[0] * 100).sort_values(ascending=False)

organization                                  87.689394
title                                         87.159091
residenceStateRegion                          71.704545
state                                         71.477273
cpi_change_country                             6.969697
cpi_country                                    6.969697
tax_revenue_country_country                    6.931818
total_tax_rate_country                         6.893939
life_expectancy_country                        6.893939
gross_tertiary_education_enrollment            6.893939
gross_primary_education_enrollment_country     6.856061
latitude_country                               6.212121
population_country                             6.212121
gdp_country                                    6.212121
longitude_country                              6.212121
birthYear                                      2.916667
birthDate                                      2.878788
birthMonth                                     2.878788
birthDay                                       2.878788
city                                           2.727273
age                                            2.462121
country                                        1.439394
firstName                                      0.113636
lastName                                       0.000000
source                                         0.000000
category                                       0.000000
personName                                     0.000000
selfMade                                       0.000000
industries                                     0.000000
countryOfCitizenship                           0.000000
status                                         0.000000
gender                                         0.000000
date                                           0.000000
finalWorth                                     0.000000
rank                                           0.000000
dtype: float64

In [7]:
df.isna().sum().sum() / df.size * 100

11.702380952380953

6. Fill missing data with the string "Unknown" for columns `organization` and `title`.

In [8]:
print("Before organization:", df["organization"].isna().sum())
print("Before title:", df["title"].isna().sum())

df["organization"].fillna("Unknown", inplace=True)
df["title"].fillna("Unknown", inplace=True)

print("After organization:", df["organization"].isna().sum())
print("After title:", df["title"].isna().sum())

Before organization: 2315
Before title: 2301
After organization: 0
After title: 0

7. Replace all variants of China in the column `country` to become string `China` (`P.R.C` also means China)

In [9]:
df["country"].unique()

array(['France', 'United States', 'Mexico', 'India', 'Spain', 'China',
       'Canada', 'Germany', 'Switzerland', 'Belgium', 'Hong Kong',
       'Austria', 'Japan', 'United Kingdom', 'Australia', 'Indonesia',
       'United Arab Emirates', 'Russia', 'Chile', 'Monaco', 'RF',
       'Czech Republic', 'Sweden', nan, 'Thailand', 'Uzbekistan',
       'Singapore', 'Nigeria', 'Israel', 'Italy', 'South Africa',
       'Brazil', 'Malaysia', 'China ', 'South Korea', 'New Zealand',
       'Philippines', 'Taiwan', 'Norway', 'Egypt', 'Denmark',
       'Eswatini (Swaziland)', 'Colombia', 'Netherlands', 'Poland',
       'Bahamas', 'Ukraine', 'Cayman Islands', 'Greece', 'Turkey',
       'Argentina', 'Georgia', 'Portugal', 'Kazakhstan', 'Algeria',
       'Vietnam', 'Latvia', 'Finland', 'Bermuda', 'Luxembourg',
       'British Virgin Islands', 'Cambodia', 'Lebanon', 'Oman', 'Ireland',
       'Cyprus', 'Guernsey', 'Liechtenstein', 'P.R.C',
       'Turks and Caicos Islands', 'Romania', 'Qatar', 'Uruguay', 'Nepal',
       'Slovakia', 'Morocco', 'Hungary', 'Tanzania', 'Bahrain', 'Peru',
       'Andorra', 'Armenia'], dtype=object)

In [10]:
print("Before:", df[df["country"]=="China"].shape[0])
df["country"] = df["country"].str.strip()
df["country"].replace({"P.R.C": "China"}, inplace=True)
print("After:", df[df["country"]=="China"].shape[0])

Before: 510
After: 523

8. How many billionaires resides in the country `China`? (read the data description to know which column stores this info)

In [11]:
df[df["country"]=="China"].shape[0]

523

9. How many billionaires have `China` citizenship? (read the data description to know which column stores this info)

In [12]:
df["countryOfCitizenship"].unique()

array(['France', 'United States', 'Mexico', 'India', 'Spain', 'China',
       'Canada', 'Germany', 'Italy', 'Hong Kong', 'Austria', 'Japan',
       'Switzerland', 'Australia', 'Indonesia', 'Russia', 'Chile',
       'United Kingdom', 'Israel', 'Brazil', 'Czech Republic',
       'Singapore', 'Sweden', 'Thailand', 'Netherlands', 'Nigeria',
       'Cyprus', 'Malaysia', 'United Arab Emirates', 'South Africa',
       'New Zealand', 'Philippines', 'Monaco', 'Belgium', 'South Korea',
       'Taiwan', 'Norway', 'Egypt', 'Denmark', 'Ireland',
       'Eswatini (Swaziland)', 'Colombia', 'Poland', 'Ukraine', 'Greece',
       'Turkey', 'Argentina', 'Georgia', 'Portugal', 'Kazakhstan',
       'Algeria', 'Venezuela', 'Vietnam', 'Finland', 'Belize', 'Lebanon',
       'Oman', 'Iceland', 'Guernsey', 'Liechtenstein', 'Bulgaria',
       'Romania', 'Zimbabwe', 'Qatar', 'Nepal', 'Slovakia', 'Morocco',
       'Hungary', 'Tanzania', 'Peru', 'Barbados', 'Macau', 'Estonia',
       'St. Kitts and Nevis', 'Armenia', 'Bangladesh', 'Panama'],
      dtype=object)

In [13]:
df[df["countryOfCitizenship"]=="China"].shape[0]

491

10. What are the category of billionaires that have citizenship of `Australia` ?

In [31]:
df.loc[df["countryOfCitizenship"]=="Australia","category"].unique()

array(['Metals & Mining', 'Real Estate', 'Manufacturing', 'Technology',
       'Finance & Investments', 'Diversified', 'Automotive', 'Logistics',
       'Food & Beverage', 'Fashion & Retail', 'Energy', 'Telecom'],
      dtype=object)

11. How many billionaires under 25 years old?

In [15]:
df[df["age"]<25].shape[0]

5

12. Which country/countries that has billionaires over 100 years old?

In [32]:
df.loc[df["age"]>100, "country"].unique()

array(['United States'], dtype=object)

13. What is the mean final net worth of all female billionaires?

In [33]:
df.loc[df["gender"]=="F", "finalWorth"].mean()

4570.326409495549

14. What is the mean final net worth of all male billionaires?

In [19]:
df.loc[df["gender"]=="M", "finalWorth"].mean()

4631.61094224924

In [45]:
# Cleaner solution fro 13 and 14
df.groupby("gender").agg({"finalWorth": "mean"})

         finalWorth
gender
F       4570.326409
M       4631.610942

15. What is the average age of billionaires each industry? Round to 2 digit. (You can use `for` loop)

In [46]:
# Using groupby
df.groupby("category").agg({"age": "mean"}).round(2)

                              age
category
Automotive                  66.14
Construction & Engineering  64.59
Diversified                 68.70
Energy                      67.82
Fashion & Retail            66.78
Finance & Investments       65.47
Food & Beverage             66.64
Gambling & Casinos          68.52
Healthcare                  64.68
Logistics                   68.18
Manufacturing               64.66
Media & Entertainment       64.80
Metals & Mining             61.81
Real Estate                 68.12
Service                     67.77
Sports                      69.03
Technology                  57.32
Telecom                     66.68

In [47]:
# Not using groupby
categories = df["category"].unique()
for cat in categories:
    print(cat, df.loc[df["category"]==cat, "age"].mean().round(2))

Fashion & Retail 66.78
Automotive 66.14
Technology 57.32
Finance & Investments 65.47
Media & Entertainment 64.8
Telecom 66.68
Diversified 68.7
Food & Beverage 66.64
Logistics 68.18
Gambling & Casinos 68.52
Manufacturing 64.66
Real Estate 68.12
Metals & Mining 61.81
Energy 67.82
Healthcare 64.68
Service 67.77
Construction & Engineering 64.59
Sports 69.03

16. Percentage of final net worth of billionaires reside in United States?

In [48]:
(df.loc[df["country"]=="United States", "finalWorth"].sum() / df["finalWorth"].sum() * 100).round(2)

37.48

17. How many rows of data are collected on this month (October 2023)?

In [23]:
# Solution 1: User date string
# - Pro: simple and quick
# - Con: might miss date string of different format, for example, "14 Oct 2023"
# => Use this method if you know that date strings have consistent format.
print(df["date"].dtype)
df[df["date"].str.contains("10/2023")].shape[0]

object

139

In [24]:
# Check consistency of date string
# This is not the best way to check consistency of date string
# but work in this case
import numpy as np

different_date_string = df[df["date"].str.len() != len(df.at[0,"date"])]
print(f"There are {different_date_string.shape[0]} date strings that have different lengths.")

There are 3 date strings that have different lengths.

In [25]:
# Update date strings to be consistent
indices = different_date_string.index
print("Normal format:", df.loc[0, "date"])
print(f"Different format before:\n{df.loc[indices, 'date']}")

normal_length = len(df.loc[0, "date"])
df["date"] = df["date"].str[:normal_length]
print(f"Different format after:\n{df.loc[indices, 'date']}")

Normal format: 23/07/2023
Different format before:
450    21/07/2023 22:08
523    17/04/2023 01:46
775    05/02/2023 02:45
Name: date, dtype: object
Different format after:
450    21/07/2023
523    17/04/2023
775    05/02/2023
Name: date, dtype: object

In [51]:
# Solution 2: Convert to datetime object
# - Pro: complete
# - Con: complex
format = "%d/%m/%Y"
df["date"] = pd.to_datetime(df["date"], format=format)
df[(df["date"].dt.month == 10) & (df["date"].dt.year == 2023)].shape[0]

139

In [64]:
start = pd.to_datetime("01/10/2023", dayfirst=True)
end = pd.to_datetime("31/10/2023", dayfirst=True)
df.loc[(df["date"]>= start) & (df["date"] <= end)].shape[0]

139